*{
    box-sizing: border-box !important;
    padding: 0px !important;
    /* border: 3px solid yellow; */
}
.page-wrap{
    overflow-x: hidden !important;
    width: 100vw !important;
    background: url(assets/images/mission.jpg);
}
.header_top{
    width: 100% !important;
}
.container-xxl {
    padding: 3rem;
}
.header_top_1{
    margin: 0px auto !important;
    border-radius: 20px !important;
    box-shadow: 0px 30px 30px!important;
    
    position: relative ;
}
.header_top{
    height: 70px;
}
.seven_size{
    font-size: 35px;
    margin-left: 3rem;
}
.header_top_center{
    margin: 0px auto !important;
}

.main {
    padding-bottom: 3rem !important;
}

.row {
    margin-top: 4rem;
    padding-bottom: 3rem; 
}
.log_3{
    position: absolute !important;
    /* top: 90; */
    border: 3px solid #000 !important;
    border-radius: 50% !important;
    font-size: 25px !important;
    padding: 2px !important;
    width: 50px !important;
    height: 50px !important;
    text-align: center !important;
    margin: 0px auto !important;
    top: 50px;
    left: 90px;
    
}
.input_top{
    margin-top: -8px !important;
    border: none ;
    border-bottom: 2px solid black ;
    text-decoration: none !important;
    outline: none ;
    background: transparent ;
}
.form-label{
    margin-top: 15px;

}
.date_label{
    display: flex !important;
    /* p: 20px !important; */
    justify-content: space-between !important;
}
.date_label_top{
    /* margin: 0px 40px !important; */
    width: 100% !important;
    flex-grow:1; 
}
.date_label_top select{
    margin: 0px 0px !important;
    width: 100% !important;
    background: transparent;
    border: none !important;
    border-radius: none !important;
    border-bottom: 2px solid black !important; 
}
.form-label_top{
    width: 50% !important;
    border-bottom: 2px solid black !important;
    /* border: none !important; */
    outline: none !important;
    margin: 0px 15px;
    /* flex-grow:1;  */
}
.btn_button{
    width: 70% !important;
    height: 40px;
    margin: 0px 50px;
    /* margin-top: 30px !important; */
}
.for-button {
    display: flex;
    justify-content: center;
}
button{
    position: relative;
    height: 35px;
    
    width: 70% !important;
    padding: 10px 30px;
    font-size: 0.8em;
    background-color: #06a506;
    color: white;
    border: thin;
    border-radius: 4px;
   transition: all 500ms ease-in-out;
   transform:  scale3d(1,1,1);
}
button:hover{
    background-color: transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    color: #06a506;
    outline: 1px solid #06a506;
}